<form>
    <h1>Criando novo jogo</h1>

    <mat-form-field class="form">
        <mat-label>Titulo</mat-label>
        <input matInput [(ngModel)]="jogo.titulo" type="text" name="titulo" placeholder="Super Mario">
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Nome Empresa</mat-label>
        <input matInput [(ngModel)]="jogo.nome_empresa" type="text" name="nome_empresa" placeholder="Nintendo">
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Descricao</mat-label>
        <input matInput [(ngModel)]="jogo.descricao" type="text" name="descricao" placeholder="Jogo de aventura 2D">
    </mat-form-field>
    
    <div class="buttons">
        <button (click)="create()" class="mat-elevation-z8"  mat-stroked-button="primary">Criar</button>
        <button (click)="cancel()" class="mat-elevation-z8"  mat-stroked-button="warn">Cancelar</button>
    </div>
</form>

